{{> navbar user}}

<div class="container containers bg-info">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <div class="heroImage">
                    <div class="heroContents">
                        <br>
                        <h4 class="display-6">hello, {{user.email}}!</h4>
                        <hr>
                        <div class="row justify-content-center">
                            <div class="col-md">
                                <form class="forum-post">
                                    <fieldset>
                                        <legend>enter a destination country</legend>
                                        <div class="col-md form-group">
                                            {{!-- <label for="title-input">City</label> --}}
                                            <input type="text" class="form-control cuteInput" id="title-input" aria-describedby="postHelp"
                                                placeholder="enter location ">
                                            <small id="postHelp" class="form-text text-muted">this'll be shared!</small>
                                        </div>
                                        <button type="submit" class="btn btn-info">add</button>
                                    </fieldset>
                                </form>
                                <br />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center" style="padding-bottom: 20px;">
        <div class="col-md text-center">
            <h1 class="display-6 text-white">searched countries</h1>
            <div id="forum-posts">
                {{#each data}}
                {{> city-block }}
                {{/each}}
            </div>
        </div>
    </div>

</div>



<script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const postForm = $("form.forum-post");
        const titleInput = $("input#title-input");
        const bodyInput = $("textarea#body-input");

        // When the form is submitted, we validate there's a title and body entered
        postForm.on("submit", function (event) {
            event.preventDefault();
            var cityData = {
            cityName : titleInput.val().trim(),
            };

            if (!cityData.cityName ) {
                return;
            }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(cityData.cityName);
            titleInput.val("");
        });

        // sendPost does a post to our "api/posts" route and if successful, redirects us the the forum page
        function sendPost(city) {
            $.post("/api/city", {
                cityName: city,
            })
                .then(function () {
                    window.location.replace("/city");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
    });
</script>