{{> navbar user }}


<div class="container">
    {{log datac}}
    {{#each datac}}
    {{#if cityName}}
    <div class="jumbotron">
        <div class="heroImage">
            <div class="heroContents">
                <h4 class="display-6">{{cityName}}</h4>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}

    <div class="row justify-content-center" style="padding-top: 20px;">
        <div class="col-md text center">
            <div class="card text-center">
                <div class="card-header">
                    <h5 class="card-title">Jot down any thoughts or observations</h5>
                </div>
                <div class="card-body">
                    <h6>Notes</h6>
                    <hr>
                    <div class="row justify-content-center">
                        <input type="text" name="" id="title">
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <textarea id="note"></textarea>
                    </div>
                    <br>
                    <div class="row justify-content-center">
                        <button class="btn btn-success" onclick="saveNote()">Save note</button>
                    </div>
                    <br>
                </div>
                <div class="card-footer text-muted">
                </div>
            </div>
            
        </div>
    </div>


    {{#each note}}
    {{#if dataValues.title}}
    <div class="row justify-content-center">
        <div class="card-body text-center">
            <h5 class="card-title">Saved Notes</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"> {{dataValues.title}} </li>
                <li class="list-group-item"> {{dataValues.body}} </li>
            </ul>
        </div>
    </div>
    {{/if}}
    {{/each}}



</div>



<script>
    function saveNote() {
        const items = window.location.href.split('/')
        const id = +items[items.length - 1]
        console.log(id)
        const note = document.getElementById("note").value
        const title = document.getElementById("title").value
        $.get('/api/notes/' + id).then(data => console.log(data))
        $.post('/api/notes', { title, body: note, id }).then(data => console.log(data))
    }

</script>