{{> navbar user }}

<div class="container containers bg-info">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md text-center">
                    <div class="heroImage">
                        <div class="heroContents">
                            <br>
                            <h4 class="display-6">Welcome to Odyssey</h4>
                            <hr>
                            <h6>create a travelogue with pictures and notes</h6>
                            <br>
                            <a href="/signup" class="btn btn-info">sign up</a>
                            <a href="/login" class="btn btn-info">log in</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>



<script src="/javascript/odyssey.js" type="text/javascript"></script>

