.navbar {
	text-align: center;
	/* margin-bottom: 25px; */
}

.containers {
	margin-top: 25px;
	margin-bottom: 25px;
	padding-bottom: 50px;
}

.jumbotron {
	margin-top: 25px;
}

.heroImage {
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.9)), url("../images/joshua-woroniecki--5nwt_aN2E0-unsplash\ \(1\).jpg");
	min-height: 300px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.heroContents {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
}

.cuteInput {
	display: inline-block;
	width: 50%;
}

.notes {
	padding-bottom: 50px;
}

form.signup,
form.login {
	margin-top: 50px;
}

footer {
	text-align: center;
	padding-top: 20px;
	margin-top: 25px;
} 
